<% layout("/layouts/boilerplate") %>
<body>
    <div class = "web-under-work">
        <img src="https://c4.wallpaperflare.com/wallpaper/171/65/129/technology-website-under-construction-wallpaper-preview.jpg" alt="under-process">
    </div>
</body>